.contenedorNavbar{
    width: 20%;
    position: fixed;
    left: 0;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contenedorImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorImg .miFoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 4px grey;
    background-image: url('https://live.staticflickr.com/65535/53153208919_295ec81479_c.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}
.contenedorImg .miFoto:hover{
    transition: all 1000ms ease-in-out;
    border: solid 4px rgb(206, 206, 206);
}
.contenedorImg:hover .miFoto{
    transition: all 1000ms ease-in-out;
    box-shadow: 0 0 100px -5px white;
}

.contenedorNavbar .navbar{
    width: 100%;
}
.contenedorNavbar .navbar ul{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
}
.contenedorNavbar .navbar ul li{
    list-style: none;
    text-decoration: none;
}
.contenedorNavbar .navbar ul li .link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.607);
    font-weight: 600;
}
.contenedorNavbar .navbar ul li .link:hover{
    color: rgba(255, 255, 255, 0.837);
    text-shadow: .5px -.5px white;
    transition: all 500ms;
}
.contenedorNavbar .navbar ul li .active{
    text-decoration: underline;
    color: white;
}
.contenedorNavbar .navbar ul li .link .iconNavbar{
    text-align: center;
}

.redes{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.redes a{
    color: white;

}

.redes a:hover{
    animation: tembleke 1s infinite;
    animation-timing-function: linear;
}
@keyframes tembleke {

    0%{ transform: scale(1); }
    25%{ transform: scale(1.05);  }
    50%{ transform: scale(1.1);}
    75%{transform: scale(1.05); }
    100%{ transform: scale(1); }  
}


@media (max-width: 740px){
    .contenedorNavbar{
        justify-content: center;
        width: 100%;
        height: 15vh;
        flex-direction: row;
        bottom: 0;
        z-index: 1;
    }
    .contenedorImg{
        display: none;
    }
    .contenedorImg .miFoto{
        width: 60px;
        height: 60px;
        border: solid 2px;
    }
    .contenedorNavbar .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedorNavbar .navbar ul{
        flex-direction: row;
        gap: 25px;
    }
    .contenedorNavbar .navbar ul li .link{
        font-size: 12px;
    }
    .redes{
        display: none;
    }
}
@media (max-width: 340px){
    .contenedorNavbar .navbar ul li .link{
        font-size: 10px;
    }
}



@media (min-width: 740px){
    .contenedorNavbar .navbar ul li .link .iconNavbar{
        display: none;
    }
}